sha1.*
and_fixed.data
and_fixed.net
and_float.net
and_train
cascade_train
cascade_train2.net
cascade_train.net
err
mnist.double
mnist.float
mnist_*
momentums
*.mp4
mushroom
mushroom_double_fixed.data
mushroom_double_fixed.net
mushroom_double.net
mushroom_double.net-[0-9]*
mushroom_float_fixed.data
mushroom_float_fixed.net
mushroom_float.net
mushroom_float.net-[0-9]*
mushroom_soft_fixed.data
mushroom_soft_fixed.net
mushroom_soft.net
mushroom_soft.net-[0-9]*
out
printweights
range
robot
robot_float.net
run
run/*.txt
run/*.tz2
scaling_fixed.data
scaling_fixed.net
scaling_float.data
scaling_float.net
scaling_test
scaling_test_double
scaling_test_fixed
scaling_train
simple_test
simple_train
steepness_train
stepwise
testdouble
testfixed
xor_fixed.data
xor_fixed.net
xor_float.net
xor_float.net-[0-9]*
xor_test
xor_test_double
xor_test_fixed
xor_train
add_fixed.data
add_fixed.net
add_float.net
add_train
tmp
mnist.double
mnist.soft-ieee
mnist.soft-ap
xor_test_float
*_fann

